---
layout: default
---

<div class="home" style="float:left;width:80%">

  <h1 class="page-heading">Posts</h1>


  {{ content }}

  <ul class="post-list">
	{% for post in site.posts %}
	  <li>
		<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

		<h2>
		  <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
		</h2>
	  </li>
	{% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>

<div style="float:left;width:20%;padding-top:15%;text-align:center;font:normal 400 10px Montserrat">
	<h3>
		About Me
	</h3>

	<img alt='My photo' height='94' src='lion.jpg' width='94'\><br></img>

	<a href='https://twitter.com/Andras_Viczian'>
		András Viczián
	</a>

	<div>
		I'm a hungarian highschool student, and I love competitive programming. I decided to start a blog and Youtube channel to help others imporve.
	</div> 

	<div style="font:normal 400 14px Montserrat">
		<p>Like this blog? I&#8217;d appreciated it if you&#8217;d help support me writing more!</p>
			<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
			<script type='text/javascript'>kofiwidget2.init('Buy me a coffee', '#a12540', 'andrasviczian');kofiwidget2.draw();</script></div>
	</div>
</div>

